<div>
    <div class="row">
        <div class="col-md-3 col-md-offset-9">
            Search: <input ng-model="query">
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <ul class="list-unstyled">
                <li ng-repeat= "phone in phones | filter:query" class="">
                    <a href="#/phones/{{phone.id}}" class="h3">{{phone.name}}</a>
                    <blockquote>
                        <p class="lead">{{phone.snippet}}</p>
                    </blockquote>
                </li>
            </ul>
        </div>
    </div>
</div>
