<!doctype html>
<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/listController.js"></script>
</head>

<body>
    <div ng-app='ngtut'>
        <div ng-controller='ListController'>
            <div>
            The ultimate answer to life :{{ultimateAnswerToLife}}
            </div>
            <p></p>
            <ul>
                <li ng-repeat= "phone in phones">
                    <span ng-class={bold:phoneStyleBold(phone)}>{{phone.name}}</span>
                    <p></p>
                    <span>Rating: </span><input type='number' name='rating' min="0" max="5" ng-model='phone.rating'>
                    <p>{{phone.snippet}}</p>
                    <p></p>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
